.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  background: #59d7c8;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
