:root {
  --header-height: 66px;
}

#header-label {
  color: var(--font-color);
  font-size: 20px;
}

* {
  vertical-align: middle;
}

.header {
  display: flex;
  height: var(--header-height);
  background-color: #f4f4f4;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: space-between;
  background-color: inherit;
  box-shadow: 0px 3px 8px var(--light-shadow);
}

nav img {
  height: 40px;
  margin-bottom: 0px;
  margin-top: 6px;
  margin-right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

/*
.searchbar {
  width: 50%;
  height: 40px;
  margin: 4px;
}
*/

.text {
  color: #f4f4f4;
  margin-left: 10px;
}

::placeholder {
  color: #f4f4f4;
  opacity: 0.5;
}

.search {
  height: 52px;
  width: 600px;
  background-color: rgb(32, 80, 80);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  color: #f4f4f4;  
  margin-top: 6px;
  margin-left: 100px;
}

#logout-button {
  height: 52px;
  width: 120px;
  background-color: rgb(226, 69, 44);
  border-radius: 5px;
  color: #f4f4f4;
  margin-top: 6px;
  margin-right: 7px;
  font-size: 19px;
  box-shadow: 0px 3px 10px var(--darkest-shadow); 
}

.search:focus {
  border-style: solid;
  border-color: rgb(118, 187, 183);
}

::placeholder {
  color: #f4f4f4;
  opacity: 0.75;
}

.text {
  color: inherit;
  margin-left: 10px;
}

.sortby {
  height: 52px;
  width: 66px;
  background-color: rgb(32, 80, 80);
  border-radius: 10px;
  color: #f4f4f4;
  margin-left: -235px;
  font-size: 20px;
  margin-top: 6px;
  -ms-transform: translateY(-50%);
  transform: translateY(11%);
}

.search-button {
  width: 52px;
  height: 52px;
  color: rgb(32, 80, 80);
  background-color: rgb(118, 187, 183);
  margin-top: 6px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-button:hover {
  background-color: rgb(90, 144, 147);
}