:root {
  --header-height: 64px;
}

#header-label {
  color: var(--font-color);
  font-size: 20px;
}

* {
  vertical-align: middle;
}

.header {
  display: flex;
  height: var(--header-height);
  background-color: #f4f4f4;
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: space-between;
  background-color: inherit;
  box-shadow: 0px 3px 8px var(--light-shadow);
}

nav img {
  height: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

/*
.searchbar {
  width: 50%;
  height: 40px;
  margin: 4px;
}
*/

.text {
  color: #f4f4f4;
  margin-left: 10px;
}

::placeholder {
  color: #f4f4f4;
  opacity: 0.5;
}

.search {
  height: 54px;
  width: 600px;
  background-color: rgb(32, 80, 80);
  border-radius: 10px;
  overflow: hidden;
  color: #f4f4f4;
  border-color: #f4f4f4;
  border-style: solid;
  -ms-transform: translateY(-50%);
  transform: translateY(9%);
  margin: 0px;
}

.search:focus {
  border-color: rgb(118, 187, 183);
}

::placeholder {
  color: #f4f4f4;
  opacity: 0.75;
}

.text {
  color: inherit;
  margin-left: 10px;
}

.sortby {
  height: 52px;
  width: 62px;
  background-color: rgb(32, 80, 80);
  border-radius: 10px;
  color: #f4f4f4;
  -ms-transform: translateY(-50%);
  transform: translateY(2%);
  margin-right: 7px;
  font-size: 20px;
}
