* {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: black;
}

.background-image {
  background: url("../images/login-background-landscape.jpg") 50% no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 520px;
}

.login-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  margin: 6% auto auto;
  width: 350px;
  min-height: 480px;
  padding: 80px 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.login-form {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-container {
  width: fit-content;
  /* overflow:hidden; */
  align-items: center;
}

.ukglogo {
  width: 60%;
  padding: 5px;
  border-radius: 10%;
  margin: 0px 60px;
  margin-bottom: 20px;
}

label {
  font-size: small;
  align-self: flex-start;
  margin-bottom: -4px;
}

input {
  outline: none;
  padding: 10px;
  margin: 12px;
  font-size: 15px;
  width: 80%;
  box-shadow: inset 2px 2px 6px var(--light-shadow),
    3px 3px 8px var(--light-shadow), -3px -3px 10px var(--highlight);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 5px;
  background-color: white;
}

#err-msg {
  color: rgb(246, 72, 72);
  font-size: 0.9rem;
}

label {
  text-align: left;
  margin-top: 10px;
}

#login-button {
  margin-top: 22px;
  padding: 10px 50px;
  color: white;
  font-size: 16px;
  background-color: #078acc;
  height: 42px;
  border-radius: 100px;
  width: 80%;
  box-shadow: 0px 3px 10px var(--darkest-shadow);
  margin-bottom: 8px;
}

#login-button:hover {
  cursor: pointer;
  background-color: #0982be;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#reset-password {
  text-decoration: none;
  text-align: end;
  display: flex;
  margin: 20px;
  font-size: 14px;
  color: #0176b2;
}

#reset-password:hover {
  cursor: pointer;
  text-decoration: underline;
  /* color: lightgray; */
}

.bbtLogo {
  width: 100%;
}

.extras {
  display: flex;
  flex-direction: row;
  width: 15%;
  align-items: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
