.collapsible .content {
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  font-size: 14px;
  height: fit-content;
}
.collapsible .header {
  background-color: rgb(118, 187, 183);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
   border-bottom: 1px solid black; 
}
.collapsible .header .category {
  color: black;
  font-weight: 900 !important;
  text-align: left;
  width: 40%;
  max-height: fit-content;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.collapsible .header .title {
  display: table-cell;
  margin-left: 30px;
  font-weight: 400;
  text-align: left;
  width: 70%;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.collapsible .header .dueDate {
  margin-right: 10px;
  display: table-cell;
  font-weight: 200;
  font-size: 14px;
  text-align: right;
  background-color: inherit;
  width: 40%;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-height: fit-content;
}

.fas fa-chevron-circle- {
  align-items: right !important;
  padding-right: 10px;
}

.icon {
  margin-right: 15px;
}