.task {
  color: black;
  font-weight: 400;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 6px;
  border-radius: 10px;
}

.task .task-header .task-header-left {
  text-align: left;
  font-weight: bold;
}

.link { color: #095757;}
.link:hover { color: #32cdbd;}

.task-feedback {
  width: 30%;
}

.task-timeframe {
  text-align: right;
}

.notstarted{
  background-color: #DB4437;
  color: #DB4437;
  cursor: pointer;
}

.todo {
  background-color: #F4B400;
  color: #F4B400;
  cursor: pointer;
}

.completed{
  background-color: #0F9D58;
  color: #0F9D58;
  cursor: pointer;
}

.reject{
  background-color: #DB4437;
  color: white;
}

.accept{
  background-color: #0F9D58;
  color: white;
}

.task-button {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: smaller;
}

.task-button:hover {
  background: #d8d7d7;
  color: black;
  font-size: small;
}

.approval-button {
  display: inline-block;
  width: 75px;
  text-align: center;
  font-size: small;
}

.approval-button:hover {
  background: #d8d7d7;
  color: black;
  font-size: small;
}
