.task {
  color: black;
  font-weight: 400;
}

.task .task-header .task-header-left {
  text-align: left;
  font-weight: bold;
}

.task-feedback {
  width: 30%;
}

.task-timeframe {
  text-align: right;
}
