body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

.navbar {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: #205050;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.searchbar {
  width: 50%;
  height: 45px;
  margin: 4px;
}

.search {
  margin: 4px;
  background-color: #578a8a;
  width: 100%;
  height: 75%;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  border-color: white;
}

.text {
  color: inherit;
  margin-left: 10px;

}

.pic {
  margin: 4px;
  height: 45px;
  width: 100px;
  background-color: white;
}

.sortby {
  margin: 4px;
  background-color: #578a8a;
}