.preferences label {
  display: block;
  padding-bottom: 4px;
}

.Main-section {
  background: url(../src/images/pattern1_It_grey_1.png);
  background-attachment: fixed;
  border-style: solid;
  border-color: black;
  min-height: 100vh;
  border-width: 1px;
  margin-left: "2px";
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
