@import url('https://fonts.googleapis.com/css2?family=Open+sans-serif');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.tool-bar{
   background-color: #222f3e;
   color: #fff;
   display: flex;
   gap: 1rem;
   align-items: center;
   padding:1rem;
}

.sidebar{
    position:absolute;
    background-color: #222f3e;
    color: #fff;
    top:0;
    left:0;
    height:100vh;
    width:280px;
}

.sidebar li{
    list-style:none;
    padding: 1rem 2rem;
    border-bottom: solid rgba(255,255,255,0.671);
    display:flex;
    align-items:center;
    gap:1rem;
    font-weight:300;
}

.sidebar li:hover{
    background-color: #fff;
    color:#000;
}

